* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
.lab-banner {
  display: flex;
  gap: 40px;
  padding: 60px 8%;
  align-items: center;
}

.lab-left {
  flex: 1;
}

.lab-image {
  width: 100%;
  border-radius: 20px;
}

.lab-right {
  flex: 1;
}

.lab-badge {
  display: inline-block;
  background: #0d6efd;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 15px;
}

.lab-right h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #0b1c39;
}

.lab-desc {
  font-size: 15px;
  line-height: 1.6;
  color: #0b0808;
  margin-bottom: 20px;
  text-align: center;
}

.lab-features li {
  list-style: none;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}


.lab-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 60px 8%;
}


.lab-card {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.lab-card:hover {
  transform: translateY(-8px);
}


.lab-icon {
  width: 55px;
  height: 55px;
  background: #eaf1ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0d6efd;
  font-size: 22px;
  margin-bottom: 18px;
}


.lab-card h3 {
  font-size: 18px;
  color: #0b1c39;
  margin-bottom: 6px;
}


.line {
  width: 35px;
  height: 3px;
  background: #0d6efd;
  display: block;
  margin-bottom: 15px;
}


.lab-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 25px;
}


.lab-btn {
  width: 100%;
  background: #0d6efd;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

.lab-btn:hover {
  background: #084298;
}


.btn-arrow {
  width: 28px;
  height: 28px;
  background: white;
  color: #0d6efd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: none !important;
  transition: none !important;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: white;
  width: 380px;
  padding: 25px;
  border-radius: 14px;
}

.modal-box h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* ===== Form ===== */
.book-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-actions button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background: #0d6efd;
  color: white;
}

.close-btn {
  background: #dc3545;
  color: white;
}


@media (max-width: 768px) {
  .modal-box {
    width: 90%;
  }
}
