.all-app-container {
  padding: 40px;
  background: #ecf3fb;
  min-height: 100vh;
}

.all-app-container h1 {
  text-align: center;
  color: #1c64f2;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
}

table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #1c64f2;
  color: white;
  padding: 14px 10px;
  text-align: left;
  font-size: 16px;
}

td {
  padding: 12px 10px;
  font-size: 15px;
  border-bottom: 1px solid #e3e3e3;
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background: #f5f8ff;
  transition: 0.3s;
}
