.app-wrapper {
  background: url("https://plus.unsplash.com/premium_photo-1666299679745-2190f8f94352?q=80&w=869&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-container {
  width: 90%;
  max-width: 600px;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.25);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}


input, select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

textarea {
  width: 100%;
}


button {
  width: 100%;
  padding: 12px;
  background: #1a73e8;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background: #0f5dc2;
}
